
.main {

    @include mobile {
        width: 100%;
        min-height: 100vh;
    }

    .container {
        display: grid;
        gap: 1rem;
        width: 80%;
        margin-inline: auto;
        padding: 81px 0;

        @include large {
            gap: 2rem;
        }
        
        @include mobile {
            grid-template-columns: 1fr;
            padding: 81px 25px;
            width: 100%;
        }
        
        .profile__card {
            background-color: $Dark-blue;
            border-radius: 15px;
            
            .profile {
                background-color: $Blue;
                border-radius: 15px;
                display: flex;
                padding: 35px 10px;

                @include tablet {
                    padding: 25px 8px;
                }

                @include small {
                    padding: 20px 6px;
                }

                .img {
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        max-width: 45%;

                        @include small {
                            max-width: 50%;
                        }
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 3px;

                    @include tablet-plus {
                        gap: 7px;
                    }
                    
                    p {
                        color: $Pale-Blue;

                        @include small {
                            font-size: .8rem;
                        }

                        @include tablet-plus {
                            font-size: 1rem;
                        }
                    }

                    h2 {
                        color: #fff;
                        font-weight: 300;

                        @include small {
                            font-size: 1.1rem;
                        }

                        @include tablet-plus {
                            font-size: 1.6rem;
                        }
                    }
                }
            }

            .time {
                display: flex;
                justify-content: space-between;
                padding: 27px 22px;
                
                @include small {
                    padding: 16px;
                }

                @include tablet-plus {
                    padding: 30px 24px;
                }

                p {
                        color: $Pale-Blue;

                        @include tablet-plus {
                            font-size: 1.2rem;
                        }

                    &.active {
                        color: $white;
                    }
                }
            }
        }

        .cards {
            display: grid;
            gap: 1rem;
            
            @include tablet {
                grid-template-columns: 1fr;
            }

            @include large {
                grid-template-columns: 1fr 1fr;
            }

            .card {

                &__container {
                    height: 160px;
                    background-color: $Light-red-work;
                    border-radius: 15px;
                    position: relative;

                    .icon-work {
                        position: absolute;
                        right: 0;
                    }

                    .main__card {
                        height: 122px;
                        background-color: $Dark-blue;
                        border-radius: 15px;
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        display: flex;
                        justify-content: space-between;
                        padding: 29px 24px;

                        .left {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            gap: 6px;

                            h3 {
                                color: $white;
                                font-size: 1.1rem;
                                font-weight: 500;

                                @include small {
                                    font-size: 1rem;
                                }
                            }

                            .time {

                                p {
                                    color: $white;
                                    font-size: 1.6rem;
                                    font-weight: 300;

                                    @include small {
                                        font-size: 1.3rem;
                                    }
                                }
                            }
                        }

                        .right {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            justify-content: center;
                            gap: 20px;

                            .icon {

                            }

                            .date {

                                p {
                                    color: $Pale-Blue;
                                    font-size: .9rem;

                                    @include small {
                                        font-size: .75rem;
                                    }
                                }
                            }
                        }
                        
                        
                    }
                }
            }

            .card__2 {

                .card__container {
                    background-color: $Soft-blue;
                }
            }

            .card__3 {

                .card__container {
                    background-color: $Light-red;
                }
            }

            .card__4 {

                .card__container {
                    background-color: $Lime-green;
                }
            }

            .card__5 {

                .card__container {
                    background-color: $Violet;
                }
            }

            .card__6 {

                .card__container {
                    background-color: $Soft-orange;
                }
            }
        }
    }
}